body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.main-content {
    flex-basis: 40rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    min-height: 4rem;
    min-width: 3rem;
    max-width: 3rem;
    padding: 2px;
    margin: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hand {
    display: flex;
    justify-content: center;
}

.selected {
    background-color: #61dafb;
}

.row {
    display: flex;
    justify-content: flex-start;
    min-width: 23rem;
}

#board {
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    justify-content: center;
    background-image: url('https://w7.pngwing.com/pngs/69/861/png-transparent-wood-material-red-old-wood-background-brown-wooden-planks-texture-brown-wood-thumbnail.png');
}

#trick {
    display: flex;
    justify-content: center;
}

.card.hidden {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Card_back_01.svg");
    background-repeat: round;
}

#deck {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Card_back_01.svg");
    background-repeat: round;
    margin-right: 2rem;
}

.points {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2rem;
}

.point {
    margin: 0 1px 0 1px;
    color: red;
}

.players {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player {
    padding: 1rem;
}

.current {
    background-color: #61dafb;
}
